h1 {
    text-align: center;
}
.logo {
    width: 15%;
}

.banniere {
    width: 100%;
    height: 150px;
}

/* Header */
header{background-color: #a1faf4;}

header .entete {
    display: flex;
    justify-content: space-between;}

header .nav li {
    display: inline-block;
    margin: 0 15px;}

header ul li {
    color: black;
    padding: 20px 0px;}

header ul li a {
        text-decoration: none;
        color: black;}

header a:hover {color: blue;}
